/* body {
	
} */

main {
/* 	width: 100vw; */
	width 375px;
	/* padding-top: 69px / 41px */
	padding-top: 69px;
	/* padding-bottom: 80px; */
	overflow: hidden;
	background-image: url(../img/bg.png);
	background-size: 200%;
	background-position: top center;
	background-repeat: no-repeat;
}

.album-header {
	height: 381px;
	display: flex;
	padding: 0 16px;
	padding-bottom: 32px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.album-header-back-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.album-header-title-wrapper {
	text-align: center;
	padding-bottom: 40px;
}

.album-header-title-wrapper h1 {
	font-size: 50px;
	line-height: 72px;
}

.album-header-title-wrapper h2 {
	font-size: 24px;
	line-height: 34px;
}

.album-header-control-wrapper {
	width: 100%;
	height: 23px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.album-header-control_info {
	display: flex;
	font-size: 16px;
}

.album-header-control_info p:first-child {
	margin-right: 24px;
}

.odd {
	background-color: #252A2E;
}

.even {
	background-color: #2C3136;
}

.playlist-track {
	width: 100vw;
	height: 59px;
	display: flex;
	justify-content: space-between;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
}

.playlist-track_info-wrapper {
	width: calc(100vw - 52px);
	display: flex;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	padding: 7px 16px;
}

.playlist-track_num {
	width: 23px;
	display: inline-block;
	font-size: 16px;
	text-align: left;
	margin-right: 12px;
}

.playlist-track_info {
	text-align: left;
}

.playlist-track_info p:first-child {
	white-space: nowrap;
}

.playlist-track_current {
	color: #82D7FB;
}

.playlist-track_timing {
	font-size: 12px;
	color: #787D81;
}

.playlist-player_menu-btn-wrapper {
	width: 52px;
	height: 100%;
}
