@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
	width: 375px;
	/* height: 680px; */
	margin: 0;
	background-color: white;
	font-family: 'Jost', sans-serif;
    font-weight: 400;
	margin-left: calc((100% - 375px)/2);
}

p, h1, h2, h3 {
	margin: 0;
	color: white;
	font-weight: 400;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.main-window-home{
	height: 600px;
    overflow: auto;
	/* hiding scrollbar for firefox */
	scrollbar-width: none;
}

.main-window{
	height: 710px;
    overflow: auto;
	/* hiding scrollbar for firefox */
	scrollbar-width: none;
}

/* hiding scrollbar for chrome, opera, etc */
.main-window::-webkit-scrollbar {
	display: none;
}

/* hiding scrollbar for chrome, opera, etc */
.main-window-home::-webkit-scrollbar {
	display: none;
}