@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
	width: 375px;
	margin: 0;
/* 	background-color: #252A2E; */
	background-color: white;
	font-family: 'Jost', sans-serif;
    	font-weight: 400;
	margin-left: calc((100% - 375px)/2);
}

p, h1, h2, h3 {
	margin: 0;
	color: white;
	font-weight: 400;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.main_main{
	height: 600px;
    overflow: auto;
}