body {
	height: 100vh;
}

.player {
/* 	width: 100vw; */
	width: 375px;
	height: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url(../img/bg.png);
	background-size: 110vh;
	background-position: center;
	position: fixed;
	border-radius: 50px 50px 0 0;
	padding: 0 16px;
	transition: .3s ease-in-out;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	margin-bottom: calc(100vh - 680px);
}

.player-hidden {
	bottom: -100vh;
}

.player-showen {
	bottom: 0vh;
}

.player-visibility-btn {
	padding: 24px;
	display: block;
}

.player-visibility-btn_line {
	width: 80px;
	height: 4px;
	background-color: white;
	border-radius: 10px;
}

.player-menu-btn_wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	/* margin-bottom: 45px; */
	margin-bottom: 5%;
}

.player-menu-btn {
	padding: 0 16px;
}

.player-cover {
	width: 100%;
	max-width: calc((100vh - 42px) / 2);
	/* Раскомментировать, как поменяю обложку на исходник (в HTML)*/
	/* filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.5)); */
	/* margin-bottom: 24px; -- очень странный отступ без адаптива */
	margin-bottom: 5%;
}

.player-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.player-title h3 {
	font-size: 20px;
	line-height: 29px;
}

.player-title p {
	font-size: 16px;
	line-height: 23px;
	color: #AFA0A0;
}

.player-time_wrapper {
	width: 100%;
}

.player-timeline {
	width: 100%;
	height: 2px;
	background-color: #FF4060;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.player-timeline_point {
	width: 16px;
	height: 16px;
	background-color: #FF4060;
	border-radius: 16px;
	margin-left: 6px;
}

.player-timer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 6px;
}

.player-timer p {
	font-size: 12px;
	font-weight: 500;
}

.player-controls {
	width: 280px;
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
