/* ВСПЛЫВАЮЩАЯ ПЛАШКА Хранилище и автозагрузка */

.storage {
	background-color: #252A2E;
	width: 375px;
	height: 680px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	border-radius: 50px 50px 0 0;
	padding: 0 16px;
	transition: 0s ease-in-out;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	margin-bottom: calc(100vh - 688px);
}

.chapters {
	margin-top: 16px;
	color: #FFFFFF;
	font-family: 'Jost';
	font-style: normal;
	width: 343px;
}

.chapters h1 {
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
}

.menu-items-auto {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	justify-content: space-around;

}

.item-auto {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.item-auto h2 {
	margin-top: 8px;
	width: 81px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #787D81;
}

.icons-auto {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 16px;
}

.icon-auto {
	margin-top: 44px;
}

.item-check {
	display: flex;
    align-items: center;
    height: 56px;
	justify-content: flex-start;
}

.item-storage {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 12px;
}

.title-check h2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	margin-left: 12px;
}

.title-storage h2 {
	font-size: 14px;
	line-height: 20px;
	margin-left: 12px;
}

.circle-on {
	fill: #82D7FB;
	stroke-width: 0.1875em;
}

.circle-music {
	fill: #C5467E;
	stroke-width: 0.1875em;
}

.circle-blue {
	fill: #787D81;
	stroke-width: 0.1875em;
}

.storage-visibility-btn {
	padding: 24px;
	display: block;
}

.storage-visibility-btn_line {
	width: 80px;
	height: 4px;
	background-color: white;
	border-radius: 10px;
}