/* ТРЕТИЙ ЭКРАН */

.main-window {
	background: #252A2E;
	height: 680px;
}

.icons {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 16px;
}

.icon {
	margin-top: 44px;
}

.chapter {
	color: #FFFFFF;
	font-family: 'Jost';
	font-style: normal;
	padding: 16px;
}

.chapter h1 {
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
}

.margin-chapter {
	margin-top: 32px;;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
}

.item-setting h3 {
	font-weight: 400;
	font-size: 14px;
	color: #787D81;
}

.button-item {
	display: flex;
    text-align: left;
    align-items: center;
    width: 343px;
    justify-content: space-between;
}

.next-screen {
	display: flex;
}

.next-screen h3{
	margin-right: 10px;
}

.menu-items {
	margin-top: 16px;
}

.item-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	font-family: 'Jost';
	font-style: normal;
	height: 56px;
}
