/* ПЕРЕКЛЮЧАТЕЛЬ НА ТРЕТЬЕМ ЭКРАНЕ */

.switch-toggle {
	position: relative;
	display: inline-block;
	width: 51px;
	height: 31px;
}
  
/* Hide default HTML checkbox */
.switch-toggle input {display:none;}
  
/* The slider */
.toggle-slider {
	position: absolute;
	cursor: pointer;
	width: 51px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0s;
	transition: 0s;
}
  
.toggle-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 5px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0s;
	transition: 0s;
}
  
input:checked + .toggle-slider {
	background-color: #82D7FB;;
}
  
  input:focus + .toggle-slider {
	box-shadow: 0 0 1px #82D7FB;;
}
  
input:checked + .toggle-slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}
  
/* Rounded sliders */
.toggle-slider.round {
	border-radius: 25px;
}
  
.toggle-slider.round:before {
	border-radius: 50%;
}

/* ЧЕКБОКСЫ НА ВСПЛЫВАЮЩЕМ ЭКРАНЕ */

/* для элемента input c type="checkbox" */
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid rgba(120, 120, 128, 0.32);
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	border-radius: 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked
.custom-checkbox:focus:not(:checked)+label::before {
	border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
	border-color: #82D7FB;
	background-color: #82D7FB;
	background-image: url("../img/checkbox.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
	background-color: #e9ecef;}