/* переключатели на втором слайде */

.switch-toggle {
	position: relative;
	display: inline-block;
	width: 51px;
	height: 31px;
  }
  
  /* Hide default HTML checkbox */
  .switch-toggle input {display:none;}
  
  /* The slider */
  .toggle-slider {
	position: absolute;
	cursor: pointer;
	width: 51px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .toggle-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 5px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .toggle-slider {
	background-color: #82D7FB;;
  }
  
  input:focus + .toggle-slider {
	box-shadow: 0 0 1px #82D7FB;;
  }
  
  input:checked + .toggle-slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .toggle-slider.round {
	border-radius: 25px;
  }
  
  .toggle-slider.round:before {
	border-radius: 50%;
  }