* {
	box-sizing: border-box;
}

body-body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

main {
	width: 400px;
	height: 680px;
	background-color: rgb(146, 106, 106);
	position: relative;
	overflow: hidden;
}

.slide {
	/* width: 400px; */
	height: 600px;
	position: absolute;
	transition: ease-in-out .3s;
}

#slide1 {
	background-color: rgb(112, 168, 107);
}

#slide2 {
	background-color: rgb(107, 154, 168);
}

#slide3 {
	background-color: rgb(144, 107, 168);
}

.right {
	transform: translateX(100%);
}

.left {
	transform: translateX(-100%);
}